.sc6-box{
    background-image: url("../img/sc6-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sc6{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.sc6 h1{
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.sc6 h1 span{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.sc6 p{
    font-weight: 400;
    width: 570px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 150.5%;
    text-align: center;
    color: #FFFFFF;
}
.sc6 button{
    padding: 14px 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150.5%;
    border: none;
    text-align: center;
    background: #FFFFFF;
    color: #333333;
}

@media (max-width:580px) {
    .sc6 {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .sc6 p{
        width: 100%;
    }
}